
@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>*@


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="text-decoration:none" class="btn btn-warning btn-sm">
    @Html.ActionLink("Create User", "CreateUser", "Admin")
</div>
<div style="text-decoration:none" class="btn btn-warning btn-sm">
    @Html.ActionLink("Create Role", "CreateRole", "Admin")
</div>
<div style="text-decoration:none" class="btn btn-warning btn-sm">
    @Html.ActionLink("Assign Role", "AssignRole", "Admin")
</div>

