@{
    ViewBag.Title = "Admin";
}

<h2>Index</h2>

<div style="text-decoration:none" class="btn btn-warning btn-sm">
    @Html.ActionLink("Add User", "CreateUser", "Admin")
</div>
<div style="text-decoration:none" class="btn btn-warning btn-sm">
    @Html.ActionLink("Add Role", "CreateRole", "Admin")
</div>
<div style="text-decoration:none" class="btn btn-warning btn-sm">
    @Html.ActionLink("Assign User Role", "AssignRole", "Admin")
</div>

